---
---
/* variable kreon font 300 - 700 */
@font-face {
  font-family: 'Kreon';
  src: url('../fonts/serif/kreon/Kreon-VariableFont_wght.ttf'); 
  src: local(''),
       url('../fonts/serif/kreon/Kreon-VariableFont_wght.ttf') format('truetype'), /* IE6-IE8 */
}