/* Arabic Default */
:root {
  --serif-font: 'Noto Sans Arabic', sans-serif;
  --sans-serif-font: 'Noto Sans Arabic', sans-serif;
  --left: right;
  --right: left;
  --size-1px: calc(1px + 2px);
  --size-2px: calc(2px + 2px);
  --size-3px: calc(3px + 2px);
  --size-4px: calc(4px + 2px);
  --size-5px: calc(5px + 2px);
  --size-6px: calc(6px + 2px);
  --size-7px: calc(7px + 2px);
  --size-8px: calc(8px + 2px);
  --size-9px: calc(9px + 2px);
  --size-10px: calc(10px + 2px);
  --size-11px: calc(11px + 2px);
  --size-12px: calc(12px + 2px);
  --size-13px: calc(13px + 2px);
  --size-14px: calc(14px + 2px);
  --size-15px: calc(15px + 2px);
  --size-16px: calc(16px + 2px);
  --size-17px: calc(17px + 2px);
  --size-18px: calc(18px + 2px);
  --size-19px: calc(19px + 2px);
  --size-20px: calc(20px + 2px);
  --size-21px: calc(21px + 2px);
  --size-22px: calc(22px + 2px);
  --size-23px: calc(23px + 2px);
  --size-24px: calc(24px + 2px);
  --size-25px: calc(25px + 2px);
  --size-26px: calc(26px + 2px);
  --size-27px: calc(27px + 2px);
  --size-28px: calc(28px + 2px);
  --size-29px: calc(29px + 2px);
  --size-30px: calc(30px + 2px);
  --size-31px: calc(31px + 2px);
  --size-32px: calc(32px + 2px);
  --size-33px: calc(33px + 2px);
  --size-34px: calc(34px + 2px);
  --size-35px: calc(35px + 2px);
  --size-36px: calc(36px + 2px);
  --size-37px: calc(37px + 2px);
  --size-38px: calc(38px + 2px);
  --size-39px: calc(39px + 2px);
  --size-40px: calc(40px + 2px);
  --size-41px: calc(41px + 2px);
  --size-42px: calc(42px + 2px);
  --size-43px: calc(43px + 2px);
  --size-44px: calc(44px + 2px);
  --size-45px: calc(45px + 2px);
  --size-46px: calc(46px + 2px);
  --size-47px: calc(47px + 2px);
  --size-48px: calc(48px + 2px);
  --size-49px: calc(49px + 2px);
  --size-50px: calc(50px + 2px);
  --size-51px: calc(51px + 2px);
  --size-52px: calc(52px + 2px);
  --size-53px: calc(53px + 2px);
  --size-54px: calc(54px + 2px);
  --size-55px: calc(55px + 2px);
  --size-56px: calc(56px + 2px);
  --size-57px: calc(57px + 2px);
  --size-58px: calc(58px + 2px);
  --size-59px: calc(59px + 2px);
  --size-60px: calc(60px + 2px);
  --size-61px: calc(61px + 2px);
  --size-62px: calc(62px + 2px);
  --size-63px: calc(63px + 2px);
  --size-64px: calc(64px + 2px);
}

* {
  line-height: 1.2;
}