<!DOCTYPE HTML>
<html lang="{{ page.lang }}" dir="{{ page.lang_dir }}">
    <head>
      <meta charset ="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ page.title }} - {{ site.title[ page.lang] }}</title>
      {% include stylesheet.html %}
      {% include scripts/analytics.html %}
    </head>
    <body>
      {% include svg.html %}
    <div id="external-wrapper">
        {% include header-2.html %}
        {% include oops.html %}
        {% include bottom-snippet.html %}
        {% include footer-2.html %}
        {% include scripts/mobileMenu.html %}
     </div>
    </body>
</html>




















