			<div id="header-1">
                    <div class="home-page-navigation-link">
                        <span class="home-page-navigation-link-list"><a href="/{{ page.lang }}/resources/">{{ site.data.word_translate.resources[ page.lang ] }}</a></span>
                        <span class="home-page-navigation-link-list"><a href="/{{ page.lang }}/catalogue/">{{ site.data.word_translate.catalogue[ page.lang ] }}</a></span>
                        <span class="home-page-navigation-link-list"><a href="/{{ page.lang }}/about/">{{ site.data.word_translate.about[ page.lang ] }}</a></span>
                        <span class="home-page-navigation-link-list"><a href="/{{ page.lang }}/contact/">{{ site.data.word_translate.contact[ page.lang ] }}</a></span>
                    </div>
      </div>